

		<div class="flight-da">
			<div class="flight-da__head flex-row bg-trans">
				<i class="fa fa-plane" aria-hidden="true"></i>
				<p class="m-b-0 m-l-25 text-darker default-size bolder">Flight Details</p>
			</div>	
		</div>
		<div class="white-box flight-dt">

			

			<div class="flex-row space-between align-top">
				<div class="flex-row">
					<img src="{{"img/SG.png" | absURL}}" class="img-responsive img-circle">
					<div class="m-l-10">
						<p class="m-b-0 lighter default-size">Spice Jet</p>
						<p class="m-b-0 text-lighter lighter x-small">SJ-643</p>
					</div>
				</div>
				<div class="">
					<p class="m-b-0 bolder default-size">Goa (GOI)</p>
					<p class="m-b-0 text-lighter lighter x-small m-t-5">Wed, 07 Dec, 04:30<br> Dabolim</p>
				</div>
				<div class="x-small lighter text-darker text-center">
					<div class="mode-border">
						<p><span>03h 35m</span> <span class="p-l-5 p-r-5">|</span> <span>Non Stop</span><span class="p-l-5 p-r-5">|</span><span class="text-danger">Refundable</span></p>
					</div>
					<div class="m-t-5">
						<p class="m-b-0"><span>Economy Class</span> <span class="p-l-5 p-r-5">|</span> <span>Booking Class: H</span><span class="p-l-5 p-r-5">|</span><span class="">Meals</span></p>
					</div>
				</div>
				<div class="">
					<p class="m-b-0 bolder default-size">Mumbai (BOM)</p>
					<p class="m-b-0 text-lighter lighter x-small m-t-5">Wed, 07 Dec, 10:30 <br> Chatrapati Shivaji - T-1</p>
				</div>
			</div>
			
		

			{{ if $.Params.returnway }}

			<div class="flight-layover text-center lighter text-darker">
				Layover: Mumbai (BOM) | Duration: 3hrs 5m
			</div>
			<div class="flex-row space-between align-top">
				<div class="flex-row">
					<img src="{{"img/AI.png" | absURL}}" class="img-responsive img-circle">
					<div class="m-l-10">
						<p class="m-b-0 lighter default-size">Air India</p>
						<p class="m-b-0 text-lighter lighter x-small">AI-643</p>
					</div>
				</div>
				<div class="p-l-10">
					<p class="m-b-0 bolder default-size">Mumbai (BOM)</p>
					<p class="m-b-0 text-lighter lighter x-small m-t-5">Wed, 07 Dec, 04:30<br> Chatrapati Shivaji - T-1</p>
				</div>
				<div class="x-small lighter text-darker text-center">
					<div class="mode-border">
						<p><span>03h 35m</span> <span class="p-l-5 p-r-5">|</span> <span>Non Stop</span><span class="p-l-5 p-r-5">|</span><span class="text-warning">Non Refundable</span></p>
					</div>
					<div class="m-t-5">
						<p class="m-b-0"><span>Economy Class</span> <span class="p-l-5 p-r-5">|</span> <span>Booking Class: H</span><span class="p-l-5 p-r-5">|</span><span class="">Meals</span></p>
					</div>
				</div>
				<div class="p-r-15">
					<p class="m-b-0 bolder default-size">Goa (GOI)</p>
					<p class="m-b-0 text-lighter lighter x-small m-t-5">Wed, 07 Dec, 10:30 <br> Dabolim</p>
				</div>
			</div>

			{{ end }}

			<hr>

			<div class="flex-row space-between x-small align-top">
				<h6 class="bolder">Cheaper flight(s) at similar departure time
					<!-- <div class="flight-label not-cheapest dis-inline text-danger m-l-5">Not Cheapest</div> -->
				</h6>
				<h6 class="bolder">Total Fare - <i class="fa fa-inr" aria-hidden="true"></i> 6,669 <div class="xx-small text-color m-t-5 text-center"> (Corporate)</div></h6>
			</div>

			<!-- <p class="default-size text-darker m-b-15"></p> -->

			<p class="bolder default-size text-center">GOI - BOM</p>

			<div class="row m-b-20 cheap-list">
				<div class="col-sm-3 text-left">
					<label class="heavier text-color fullwidth m-b-10 bolder">Depart</label>
					<div class="x-small m-b-5">26-Dec-18 <b>03:30</b></div>
					<div class="x-small m-b-5">26-Dec-18 <b>03:30</b></div>
					<div class="x-small">26-Dec-18 <b>03:30</b></div>
				</div>
				<div class="col-sm-3 text-left">
					<label class="heavier text-color fullwidth m-b-10 bolder">Arrive</label>
					<div class="x-small m-b-5">26-Dec-18 <b>06:00</b></div>
					<div class="x-small m-b-5">26-Dec-18 <b>06:00</b></div>
					<div class="x-small">26-Dec-18 <b>06:00</b></div>
				</div>
				<div class="col-sm-3 text-left">
					<label class="heavier text-color fullwidth m-b-10 bolder">Flight</label>
					<div class="x-small m-b-5">Indigo</div>
					<div class="x-small m-b-5">Spice Jet</div>
					<div class="x-small">Air India</div>
				</div>
				<div class="col-sm-3 text-left">
					<label class="heavier text-color fullwidth m-b-10 bolder">Amount</label>
					<div class="x-small m-b-5 bolder">Rs. 2,500</div>
					<div class="x-small m-b-5 bolder">Rs. 2,500</div>
					<div class="x-small bolder">Rs. 2,500</div>
				</div>
			</div>

		{{ if $.Params.returnway }}

			<p class="bolder default-size text-center">BOM - GOI</p>

			<div class="row m-b-20 cheap-list">
				<div class="col-sm-3 text-left">
					<label class="heavier text-color fullwidth m-b-10 bolder">Depart</label>
					<div class="x-small m-b-5">26-Dec-18 <b>03:30</b></div>
					<div class="x-small m-b-5">26-Dec-18 <b>03:30</b></div>
					<div class="x-small">26-Dec-18 <b>03:30</b></div>
				</div>
				<div class="col-sm-3 text-left">
					<label class="heavier text-color fullwidth m-b-10 bolder">Arrive</label>
					<div class="x-small m-b-5">26-Dec-18 <b>06:00</b></div>
					<div class="x-small m-b-5">26-Dec-18 <b>06:00</b></div>
					<div class="x-small">26-Dec-18 <b>06:00</b></div>
				</div>
				<div class="col-sm-3 text-left">
					<label class="heavier text-color fullwidth m-b-10 bolder">Flight</label>
					<div class="x-small m-b-5">Indigo</div>
					<div class="x-small m-b-5">Spice Jet</div>
					<div class="x-small">Air India</div>
				</div>
				<div class="col-sm-3 text-left">
					<label class="heavier text-color fullwidth m-b-10 bolder">Amount</label>
					<div class="x-small m-b-5 bolder">Rs. 2,500</div>
					<div class="x-small m-b-5 bolder">Rs. 2,500</div>
					<div class="x-small bolder">Rs. 2,500</div>
				</div>
			</div>
		
		{{ end }}


			<hr>

			

			{{ if $.Params.admin }}

			<p class="default-size text-darker">Reason not to choose the cheapest Flight</p>	

			<p class="text-lighter">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At pariatur atque labore blanditiis, non sunt.</p>

			{{ else }}

			<p class="default-size text-darker">Give a reason not to choose the cheapest Flight</p>

			<textarea rows="3" class="note-text fnb-input fullwidth">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At pariatur atque labore blanditiis, non sunt.</textarea>
			<p class="x-small text-lighter text-right">200/500</p>

			{{ end }}

		</div>
		
		<div class="flight-da">
			<div class="flight-da__head flex-row bg-trans">
				<p class="m-b-0 m-l-5 text-darker default-size bolder cursor-pointer" data-toggle="collapse" data-target="#price-rules" aria-expanded="false" aria-controls="price-rules">Fare Summary <i class="fa fa-angle-down element-title" aria-hidden="true"></i></p>
			</div>	
		</div>

		<div class="white-box flight-dt collapse" id="price-rules">
			<p class="default-size text-darker">Fare Summary - You chose Corporate Fare</p>
			
			<div class="flex-row tab-row">
				<table class="table">
					<tr>
						<td>Base Fare:</td>
						<td><i class="fa fa-inr" aria-hidden="true"></i> 3,000</td>
					</tr>
					<tr>
						<td>Taxes</td>
						<td><i class="fa fa-inr" aria-hidden="true"></i> 428</td>
					</tr>
					<tr>
						<td>Service Charges</td>
						<td><i class="fa fa-inr" aria-hidden="true"></i> 0</td>
					</tr>
				</table>

				<table class="table">
					<tr>
						<td>Rounding Off</td>
						<td><i class="fa fa-inr" aria-hidden="true"></i> 0</td>
					</tr>
					<tr>
						<td>Transaction Fees</td>
						<td><i class="fa fa-inr" aria-hidden="true"></i> 0</td>
					</tr>
					<tr class="total-bg">
						<td>You Pay</td>
						<td><i class="fa fa-inr" aria-hidden="true"></i> 3248</td>
					</tr>
				</table>
			</div>

		</div>

		<div class="flight-da">
			<div class="flight-da__head flex-row bg-trans">
				<p class="m-b-0 m-l-5 text-darker default-size bolder cursor-pointer" data-toggle="collapse" data-target="#price-rules-re" aria-expanded="false" aria-controls="price-rules-re">Fare Rules <i class="fa fa-angle-down element-title" aria-hidden="true"></i></p>
			</div>	
		</div>

		<div class="white-box flight-dt collapse" id="price-rules-re">
			
			
			<div class="flex-row tab-row">
				<div class="fee-row m-r-50">
					<p class="default-size text-darker">Cancellation Fee: </p>		
					<p class="default-size text-darker">Rescheduling Fee: </p>		
					<p class="default-size text-darker">Baggage Details: </p>		
				</div>
				<div class="fee-data-row">
					<p class="default-size text-color bolder">No Penalties on Cancellation for Corporate Fares</p>		
					<p class="default-size text-color bolder">No Penalties on Rescheduling for Corporate Fares </p>		
					<p class="default-size text-color bolder">Hand Baggage: 7kg | Check In Baggage: 15kg </p>
				</div>
			</div>

		</div>
