
{{ if $.Params.approved }}

{{ else }}


<div class="bar-head"><b>GOI-BOM</b></div>

{{ if $.Params.shortlist  }}

	<p class="text-success default-size text-left m-t-20 m-b-10">Cheaper flight(s) for the above mentioned search criteria.</p>

	<div class="row m-b-20">
		<div class="col-sm-3 text-left">
			<label class="heavier text-color fullwidth m-b-10 bolder">Depart</label>
			<div class="x-small m-b-5">26-Dec-18 <b>03:30</b></div>
			<div class="x-small m-b-5">26-Dec-18 <b>03:30</b></div>
			<div class="x-small">26-Dec-18 <b>03:30</b></div>
		</div>
		<div class="col-sm-3 text-left">
			<label class="heavier text-color fullwidth m-b-10 bolder">Arrive</label>
			<div class="x-small m-b-5">26-Dec-18 <b>06:00</b></div>
			<div class="x-small m-b-5">26-Dec-18 <b>06:00</b></div>
			<div class="x-small">26-Dec-18 <b>06:00</b></div>
		</div>
		<div class="col-sm-3 text-left">
			<label class="heavier text-color fullwidth m-b-10 bolder">Flight</label>
			<div class="x-small m-b-5">Indigo</div>
			<div class="x-small m-b-5">Spice Jet</div>
			<div class="x-small">Air India</div>
		</div>
		<div class="col-sm-3 text-left">
			<label class="heavier text-color fullwidth m-b-10 bolder">Amount</label>
			<div class="x-small m-b-5 bolder">Rs. 2,500</div>
			<div class="x-small m-b-5 bolder">Rs. 2,500</div>
			<div class="x-small bolder">Rs. 2,500</div>
		</div>
	</div>

{{ end }}	

<p class="text-capitalize text-danger default-size text-left m-t-20 m-b-10">Most expensive flight</p>

<div class="row m-b-20">
	<div class="col-sm-3 text-left">
		<label class="heavier text-color fullwidth m-b-10 bolder">Depart</label>
		<div class="x-small m-b-5">26-Dec-18 <b>03:30</b></div>
		<!-- <div class="x-small m-b-5">26-Dec-18 04:45</div> -->
		<!-- <div class="x-small">26-Dec-18 04:45</div> -->
	</div>
	<div class="col-sm-3 text-left">
		<label class="heavier text-color fullwidth m-b-10 bolder">Arrive</label>
		<div class="x-small m-b-5">26-Dec-18 <b>06:00</b></div>
		<!-- <div class="x-small m-b-5">26-Dec-18 06:00</div> -->
		<!-- <div class="x-small">26-Dec-18 06:00</div> -->
	</div>
	<div class="col-sm-3 text-left">
		<label class="heavier text-color fullwidth m-b-10 bolder">Flight</label>
		<div class="x-small m-b-5">Indigo</div>
		<!-- <div class="x-small m-b-5">Spice Jet</div> -->
		<!-- <div class="x-small">Air India</div> -->
	</div>
	<div class="col-sm-3 text-left">
		<label class="heavier text-color fullwidth m-b-10 bolder">Amount</label>
		<div class="x-small m-b-5 bolder">Rs. 3,500</div>
		<!-- <div class="x-small m-b-5 bolder">Rs. 3,500</div> -->
		<!-- <div class="x-small bolder">Rs. 3,500</div> -->
	</div>
</div>
<!-- 
	<fieldset class="custom-fieldset">
		<legend>Lowest Fare:</legend>
		<div>2500.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
		<div>2500.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
		<div>2500.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
	</fieldset>
	<br>
	<fieldset class="custom-fieldset">
		<legend>Highest Fare:</legend>
		<div>6000.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
		<div>60000.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
		<div>60000.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
	</fieldset> -->

	{{ if $.Params.shortlist  }}

	
	{{ else}}

<!-- 		<div class="flex-row justify-center fareStatus m-t-10">
			<div class="booked-fare fareStatus__col">
				<p class="m-b-0 default-size bolder">Booked Fare:</p>
				2500.00 INR (AI)
			</div>
			<div class="lost-saving fareStatus__col">
				<p class="m-b-0 default-size bolder">Lost Saving:</p>
				0.00 INR (AI)
			</div>	
		</div> -->

	{{ end }}	
	
	<br>

{{ if $.Params.oneway  }}

{{ else}}

{{ if $.Params.shortlistReturn }}

	<div class="bar-head"><b>BOM-GOI</b></div>


{{ if $.Params.shortlist  }}

<p class="text-capitalize text-success default-size text-left m-t-20 m-b-10">Cheaper flight(s) for the above mentioned search criteria.</p>

<div class="row m-b-20">
	<div class="col-sm-3 text-left">
		<label class="heavier text-color fullwidth m-b-10 bolder">Depart</label>
		<div class="x-small m-b-5">26-Dec-18 <b>03:30</b></div>
		<div class="x-small m-b-5">26-Dec-18 <b>03:30</b></div>
		<div class="x-small">26-Dec-18 <b>03:30</b></div>
	</div>
	<div class="col-sm-3 text-left">
		<label class="heavier text-color fullwidth m-b-10 bolder">Arrive</label>
		<div class="x-small m-b-5">26-Dec-18 <b>06:00</b></div>
		<div class="x-small m-b-5">26-Dec-18 <b>06:00</b></div>
		<div class="x-small">26-Dec-18 <b>06:00</b></div>
	</div>
	<div class="col-sm-3 text-left">
		<label class="heavier text-color fullwidth m-b-10 bolder">Flight</label>
		<div class="x-small m-b-5">Indigo</div>
		<div class="x-small m-b-5">Spice Jet</div>
		<div class="x-small">Air India</div>
	</div>
	<div class="col-sm-3 text-left">
		<label class="heavier text-color fullwidth m-b-10 bolder">Amount</label>
		<div class="x-small m-b-5 bolder">Rs. 2,500</div>
		<div class="x-small m-b-5 bolder">Rs. 2,500</div>
		<div class="x-small bolder">Rs. 2,500</div>
	</div>
</div>

{{ end }}



<p class="text-capitalize text-danger default-size text-left m-t-20 m-b-10">Most expensive flight</p>

<div class="row m-b-20">
	<div class="col-sm-3 text-left">
		<label class="heavier text-color fullwidth m-b-10 bolder">Depart</label>
		<div class="x-small m-b-5">26-Dec-18 <b>03:30</b></div>
		<!-- <div class="x-small m-b-5">26-Dec-18 04:45</div> -->
		<!-- <div class="x-small">26-Dec-18 04:45</div> -->
	</div>
	<div class="col-sm-3 text-left">
		<label class="heavier text-color fullwidth m-b-10 bolder">Arrive</label>
		<div class="x-small m-b-5">26-Dec-18 <b>06:00</b></div>
		<!-- <div class="x-small m-b-5">26-Dec-18 06:00</div> -->
		<!-- <div class="x-small">26-Dec-18 06:00</div> -->
	</div>
	<div class="col-sm-3 text-left">
		<label class="heavier text-color fullwidth m-b-10 bolder">Flight</label>
		<div class="x-small m-b-5">Indigo</div>
		<!-- <div class="x-small m-b-5">Spice Jet</div> -->
		<!-- <div class="x-small">Air India</div> -->
	</div>
	<div class="col-sm-3 text-left">
		<label class="heavier text-color fullwidth m-b-10 bolder">Amount</label>
		<div class="x-small m-b-5 bolder">Rs. 3,500</div>
		<!-- <div class="x-small m-b-5 bolder">Rs. 3,500</div> -->
		<!-- <div class="x-small bolder">Rs. 3,500</div> -->
	</div>
</div>

{{ if $.Params.shortlist  }}

	
{{ else}}
<!-- 	<div class="flex-row justify-center fareStatus m-t-10">
		<div class="booked-fare fareStatus__col">
			<p class="m-b-0 default-size bolder">Booked Fare:</p>
			2500.00 INR (AI)
		</div>
		<div class="lost-saving fareStatus__col">
			<p class="m-b-0 default-size bolder">Lost Saving:</p>
			0.00 INR (AI)
		</div>	
	</div> -->
{{ end }}	
	<br>
{{ end }}	
{{ end }}

{{ end }}