

<div class="bar-head"><b>GOI-BOM</b></div>
	<fieldset class="custom-fieldset">
		<legend>Lowest Fare:</legend>
		<div>2500.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
		<div>2500.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
		<div>2500.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
	</fieldset>
	<br>
	<fieldset class="custom-fieldset">
		<legend>Highest Fare:</legend>
		<div>6000.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
		<div>60000.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
		<div>60000.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
	</fieldset>
	<div class="flex-row justify-center fareStatus m-t-10">
		<div class="booked-fare fareStatus__col">
			<p class="m-b-0 default-size bolder">Booked Fare:</p>
			2500.00 INR (JA)
		</div>
		<div class="lost-saving fareStatus__col">
			<p class="m-b-0 default-size bolder">Lost Saving:</p>
			0.00 INR (AI)
		</div>	
	</div>
	
	<br>

{{ if $.Params.oneway  }}

{{ else}}

{{ if $.Params.shortlistReturn }}

	<div class="bar-head"><b>BOM-GOI</b></div>
	<fieldset class="custom-fieldset">
		<legend>Lowest Fare:</legend>
		<div>2500.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
		<div>2500.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
		<div>2500.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
	</fieldset>
	<br>
	<fieldset class="custom-fieldset">
		<legend>Highest Fare:</legend>
		<div>6000.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
		<div>60000.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
		<div>60000.00 INR(JA: Departure: 26-Dec-18 04:45, Arrival: 26-Dec-18 06:00)</div>
	</fieldset>
	<div class="flex-row justify-center fareStatus m-t-10">
		<div class="booked-fare fareStatus__col">
			<p class="m-b-0 default-size bolder">Booked Fare:</p>
			2500.00 INR (JA)
		</div>
		<div class="lost-saving fareStatus__col">
			<p class="m-b-0 default-size bolder">Lost Saving:</p>
			0.00 INR (AI)
		</div>	
	</div>
	<br>
{{ end }}	
{{ end }}