
 <div class="modal fade region-add-modal reject-modal modal-center" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
     
<!--           <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h6 class="modal-title bolder element-title">Give a reason for rejecting the request</h6>
          </div> -->
          <div class="modal-body">
			<div class="m-t-15 m-b-15">
				<p class="text-color text-center">The flight suggestion is the cheapest one based on your search criteria.
					Please verify the flight details before sending the booking request.</p>
			</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn primary-btn fnb-btn no-radius rejectMail" data-dismiss="modal">Close</button>
          </div>
   
      </div>
    </div>
  </div>