<!-- header -->
<header class="fnb-header">
	<nav class="navbar navbar-default nav-extranet {{ $.Params.flight }} {{ $.Params.corporater }}">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header mobile-head mobile-flex">
				<div class="mobile-head__left mobile-flex">
					<i class="fa fa-bars sideMenu" aria-hidden="true"></i>
					<img src="{{"img/goomo_logo.png" | absURL}}" class="img-responsive desk-hide" width="80">
				</div>
				<div class="mobile-head__right mobile-flex">
					<a href="" class="login">
						<i class="fa fa-user-circle user-icon" aria-hidden="true"></i>
					</a>
				</div>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse m-side-bar" id="bs-example-navbar-collapse-1">
				<ul class="mobile-top mobile-flex">
					<li>
						<p class="mobile-top__text">Sign in to get a personalised feed!</p>
					</li>
					<li>
						<button type="button" class="fnb-btn outline">Login</button>
					</li>
				</ul>
				<ul class="nav navbar-nav ">
					<li>
						<h5 class="dash-title">

							<img src="{{"img/ajency-logo.png" | absURL}}" class="img-responsive org-logo-account p-t-5" width="110">

							<img src="{{"img/wipro-logo.png" | absURL}}" class="img-responsive org-logo-flight" width="60">

						</h5>
					</li>
					<li>
						<p class="flex-row default-size text-lighter powered-by">Powered by <img src="{{"img/mobiz-logo.png" | absURL}}" class="img-responsive m-l-5" width="80"></p>
					</li>
					{{ if $.Params.logged }}

					{{ else }}

					{{ if $.Params.nocustomheader }}

					{{ else }}

					<li><a href="#" class="text-uppercase x-small" style="color: #fff;padding-top: 13px;">Home</a></li>
					<li><a href="#" class="text-uppercase x-small" style="color: #fff;padding-top: 13px;">Flights</a></li>
					<li><a href="#" class="text-uppercase x-small" style="color: #fff;padding-top: 13px;">Hotels</a></li>

					{{ end }}

					{{ end }}
				</ul>

				{{ if $.Params.logged }}

				{{ else }}
					<ul class="nav navbar-nav navbar-right side-section p-t-0">

					{{ if $.Params.nocustomheader }}
					
						<li><a href="#" class="text-uppercase x-small">Home</a></li>
						<li><a href="#" class="text-uppercase x-small">Login</a></li>

					{{ else }}
					
					
						<!-- <li><a href="#" class="text-uppercase x-small">Home</a></li>
						<li><a href="#" class="text-uppercase x-small">Flights</a></li>
						<li><a href="#" class="text-uppercase x-small">Hotels</a></li> -->
						<li><a href="#" class="text-uppercase x-small">Pending Approval</a></li>
						<li><a href="#" class="text-uppercase x-small">My Bookings</a></li>
						<li><a href="#" class="text-uppercase x-small" style="padding-top: 8px;"><i class="fa fa-tag bookmark m-r-5" aria-hidden="true" style="color: #ff8400;padding: 5px;border: 1px solid;"></i> Open Bookings</a></li>
						<li class="notification">
							<a href="#">
								<i class="fa fa-bell m-t-5" aria-hidden="true">
									<span class="badge">3</span>
								</i>
							</a>
						</li>
						<li class="mobile-hide">
							<div class="dropdown login user-logged align-top m-t-5">
								<i class="fa fa-user-circle user-icon" aria-hidden="true"></i>
								<!-- <img src="{{"img/user-logged.png" | absURL}}" class="img-responsive"> -->
								
								<button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="drop-trigger">
									<span class="ellipsis userName">Krish Dsouza<br>
									    <span class="text-lighter">UI Designer</span>
									</span>
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dLabel">
									<li><a href="#">My Profile</a></li>
									<li><a href="#">Sign Out</a></li>
								</ul>
							</div>

						</li>

					{{ end }}

					</ul>

				{{ end }}

				<div class="desk-hide">
					{{ partial "sidebar_extranet.html" .}}
				</div>


			</div>
			<!-- /.navbar-collapse -->
			{{ if $.Params.logged }}
			{{ else}}
			{{ if $.Params.nocustomheader }}
			{{ else }}
			<!-- <div class="secondary-nav flex-row">
				<ul class="nav navbar-nav side-section p-t-0 text-right fullwidth flex-row flex-end">
					<li><a href="#" class="text-uppercase x-small">My Profile</a></li>
					<li><a href="#" class="text-uppercase x-small">Approve</a></li>
					<li><a href="#" class="text-uppercase x-small">Bookings</a></li>
					<li class="notification">
						<a href="#">
							<i class="fa fa-tag bookmark" aria-hidden="true">
							</i>
						</a>
					</li>
				</ul>
			</div> -->
			{{ end }}
			{{ end }}
		</div>
		<!-- /.container-fluid -->
	</nav>


	{{ if $.Params.flightheader }}
	<div class="flight-detail-header {{ $.Params.returnpage }}">
		<div class="container flex-row space-between align-reset {{ if $.Params.returnway }} return-bar {{ end }}">
			<div class="flight-col city flex-row space-between">
				<p class="gray-darker bolder sub-title">GOI <br><span class="x-small lighter text-lighter">Goa, IN Dabolim</span></p>
				{{ if $.Params.returnway }}
				<div class="element-title"><i class="fa fa-long-arrow-right text-lighter dis-block"></i><i class="fa fa-long-arrow-left text-lighter"></i></div>
				{{ else }}
				<div class="element-title"><i class="fa fa-long-arrow-right text-lighter"></i></div>
				{{ end }}
				<p class="gray-darker bolder sub-title">BOI <br><span class="x-small lighter text-lighter">Mumbai, IN Chatrapati Shivaji</span></p>
			</div>
			
			<div class="flight-col depart">
				<p class="gray-darker">Departure</p>
				<p class="text-lighter m-t-5">Thu, Dec 07 2017</p>
			</div>

			{{ if $.Params.returnway }}
			<div class="flight-col depart return">
				<p class="gray-darker">Return</p>
				<p class="text-lighter m-t-5">Thu, Dec 08 2017</p>
			</div>
			{{ end }}
			
			<div class="flight-col fl-class flex-row space-between">
				<div>
					<p class="gray-darker">Traveller(s), Cabin Class</p>
					<p class="text-lighter m-t-5">2 Travellers, Economy</p>
				</div>
				<div>
					<button type="submit" class="btn outline fnb-btn no-radius" data-toggle="collapse" data-target="#modify-search" aria-expanded="false" aria-controls="modify-search">Modify Search</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modify-header collapse {{ if $.Params.modify }} in {{ end }}" id="modify-search">
		<div class="modify-container">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<!-- <p class="m-b-0 text-right text-darker sub-title cursor-pointer close-modify" data-toggle="collapse" data-target="#modify-search" aria-expanded="false" aria-controls="modify-search"><i class="fa fa-times" aria-hidden="true"></i></p> -->

						<div class="tab-content m-t-20 m-b-20">
	          				<div class="tab-pane active" id="myself">
								<div class="m-t-15 traveller">
									<div class="flex-row">
										<div class="traveller__name">
											<p class="m-b-5 text-darker default-size bolder">Traveller Name</p>
											<div class="relative flex-row traveller__row">
												<div class="append-row"></div>
												<input type="text" class="fnb-input flex-1 main-name flexdatalist" value="Amar Singh" id="" list='languages' name='language'>
												<datalist id="languages" class="dataList">
													<option value="Amar Singh">Amar Singh</option>
												    <option value="Amit Adav">Amit Adav</option>
												    <option value="Ajaj Rajguru">Ajaj Rajguru</option>
												    <option value="Valenie Lourenco">Valenie Lourenco</option>
												    <option value="Anuj Khurana">Anuj Khurana</option>
												</datalist>
												<!-- <button id="add" class="hidden">Item does not exist. Click here to add it.</button> -->
												<label class="guest-check flex-1 flex-row m-b-0 m-l-10 text-medium text-color flex-end" data-toggle="collapse" data-target="#comment-collapse" aria-expanded="false" aria-controls="comment-collapse" style="visibility:hidden;">
													<input type="checkbox" class="fnb-checkbox">
													<span>Add as a Guest</span>
												</label>
											</div>
										</div>
										<!-- <div class="flex-1 m-l-15 m-r-15">
											<p class="m-b-5 text-darker default-size">Travel Category</p>
											<select class="fnb-select select-variant default-size">
												<option> --select--</option>
						                        <option value="trip" selected="">Business Trip</option>
						                    </select>
										</div>
										<div class="flex-1">
											<p class="m-b-5 text-darker default-size">Sub Category</p>
											<select class="fnb-select select-variant default-size">
												<option>--select--</option>
						                        <option value="meeting" selected="">Meeting</option>
						                    </select>
										</div> -->
										<div class="traveller__guest">
											<a href="#" class="primary-link add-traveller">+ Add Co-Traveller(s)</a>
											<div class="flex-row traveller-action hidden">
												<a href="#" class="text-darker m-r-10 edit-traveller"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
												<a href="#" class="text-danger remove-traveller"><i class="fa fa-times p-r-5 " aria-hidden="true"></i> Remove</a>
											</div>
										</div>
									</div>
									<div class="collapse guest-details m-t-15" id="comment-collapse">
										<div class="flex-row guest-holder">
											<div class="comments p-r-20">
												<p class="m-b-5 text-darker default-size bolder">Comments</p>
												<textarea class="fnb-input outline fullwidth p-t-15" rows="1"></textarea>
											</div>
											<div class="birthdate">
												<p class="m-b-5 text-darker default-size bolder">Birthdate</p>
												<div class="input-group custom-input-group">
													<input type="text" class="from-date form-control fnb-input">
													<span class="input-group-addon from-date cursor-pointer" id=""><i class="fa fa-calendar"></i></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="flex-row m-t-15 traveller traveller-add hidden">
									<div class="traveller__name">
										<p class="m-b-5 text-darker default-size">Traveller Name</p>
										<div class="relative flex-row traveller__row">
											<input type="text" class="fnb-input flex-1" value="Amar Singh">
											<label class="guest-check flex-1 flex-row m-b-0 m-l-10 text-medium text-color flex-end">
												<input type="checkbox" class="fnb-checkbox">
												<span>Add as a Guest</span>
											</label>
										</div>
									</div>
									<div class="traveller__guest text-right">
										<a href="#" class="primary-link">+ Add More Traveller</a>
									</div>
								</div> -->
	          				</div>
	          				<div class="tab-pane" id="t-member">
	          					<div class="m-t-15">
	          						<div class="flex-row m-t-15">
										<div class="flex-1">
											<p class="m-b-5 text-darker default-size bolder">Traveller Name</p>
											<input type="text" class="fnb-input fullwidth" value="Amar Singh" disabled="">
										</div>
										<div class="flex-1 m-l-15 m-r-15">
											<p class="m-b-5 text-darker default-size bolder">Travel Category</p>
											<select class="fnb-select select-variant default-size">
												<option> --select--</option>
						                        <option value="trip" selected="">Business Trip</option>
						                    </select>
										</div>
										<div class="flex-1">
											<p class="m-b-5 text-darker default-size bolder">Sub Category</p>
											<select class="fnb-select select-variant default-size">
												<option>--select--</option>
						                        <option value="meeting" selected="">Meeting</option>
						                    </select>
										</div>
									</div>
	          					</div>
	          				</div>
	          				<div class="tab-pane" id="guest">
	          					<div class="m-t-15">
	          						lorem ipsum
	          					</div>
	          				</div> 
							
							<div class="travel-cat flex-row m-t-20">
								<div class="flex-row travel-cat__name">
									<div class="flex-1 m-r-10">
										<p class="m-b-5 text-darker default-size bolder">Travel Category</p>
										<select class="fnb-select select-variant default-size">
											<option> --select--</option>
					                        <option value="trip" selected="">Business Trip</option>
					                    </select>
									</div>
									<div class="flex-1">
										<p class="m-b-5 text-darker default-size bolder">Sub Category</p>
										<select class="fnb-select select-variant default-size">
											<option>--select--</option>
					                        <option value="meeting" selected="">Meeting</option>
					                    </select>
									</div>
								</div>
								<div class="travel-cat__guest"></div>
							</div>
					
	              		</div>	


						<div class="m-b-20">
							<!-- tabs -->
							<ul class="nav nav-tabs custom-tabs m-t-10" id="myTab">
								<li class="{{ if $.Params.onemodify }} active {{ end }}"><a class="get-tab-val" data-target="#one-way" data-toggle="tab" data-link="/Goomo-CBT/account/flight-one-way/">ONE-WAY</a></li>
							  	<li class="{{ if $.Params.returnmodify }} active {{ end }}"><a class="get-tab-val" data-target="#return" data-toggle="tab" data-link="/Goomo-CBT/account/flight-return-way/">RETURN</a></li>
							  	<li><a data-target="#multi-city" data-toggle="tab">MULTI-CITY</a></li>
							</ul>




							<div class="tab-content">
								<div class="tab-pane {{ if $.Params.onemodify }} active {{ end }}" id="one-way">
									<div class="m-t-30">
										<div class="row">
											<div class="col-sm-5">
												<div class="flex-1">
													<p class="m-b-5 text-darker default-size bolder">From</p>
													<div class="plane-icon_wrapper">
														<select class="fnb-select select-variant default-size plane-icon">
															<option> --select--</option>
															<option value="" selected="">Goa, India (GOI)</option>
									                        
									                    </select>
								                    </div>
												</div>

												<div class="flex-1 m-t-30">
													<p class="m-b-5 text-darker default-size bolder">Depart on</p>
													<div class="input-group custom-input-group">
														<input type="text" class="from-date form-control fnb-input sub-dates" placeholder="From Date">
														<span class="input-group-addon from-date cursor-pointer" id=""><i class="fa fa-calendar"></i></span>
													</div>
												</div>
											</div>
											<div class="col-sm-2 text-center">
												<!-- <img src="../../static/img/from-to.jpg" alt=""> -->
												<img src="{{"img/one-way.png" | absURL}}">
											</div>
											<div class="col-sm-5">
												<div class="flex-1">
													<p class="m-b-5 text-darker default-size bolder">To</p>
													<div class="plane-icon_wrapper rotate-90">
														<select class="fnb-select select-variant default-size plane-icon">
															<option> --select--</option>
															<option value="" selected="">New Delhi, India (DEL)</option>
									                        
									                    </select>
								                    </div>
												</div>


											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane {{ if $.Params.returnmodify }} active {{ end }}" id="return">
									<div class="m-t-30">
										<div class="row">
											<div class="col-sm-5">
												<div class="flex-1">
													<p class="m-b-5 text-darker default-size bolder">From</p>
													<div class="plane-icon_wrapper">
														<select class="fnb-select select-variant default-size plane-icon">
															<option> --select--</option>
															<option value="" selected="">Goa, India (GOI)</option>
									                        
									                    </select>
								                    </div>
												</div>

												<div class="flex-1 m-t-30">
													<p class="m-b-5 text-darker default-size bolder">Depart on</p>
													<div class="input-group custom-input-group">
														<input type="text" class="from-date form-control fnb-input sub-dates" placeholder="From Date">
														<span class="input-group-addon from-date cursor-pointer" id=""><i class="fa fa-calendar"></i></span>
													</div>
												</div>
											</div>
											<div class="col-sm-2 text-center">
												<!-- <img src="../../static/img/from-to.jpg" alt=""> -->
												<img src="{{"img/from-to.jpg" | absURL}}">
											</div>
											<div class="col-sm-5">
												<div class="flex-1">
													<p class="m-b-5 text-darker default-size bolder">To</p>
													<div class="plane-icon_wrapper rotate-90">
														<select class="fnb-select select-variant default-size plane-icon">
															<option> --select--</option>
															<option value="" selected="">New Delhi, India (DEL)</option>
									                        
									                    </select>
								                    </div>
												</div>

												

												<div class="flex-1 m-t-30">
													<p class="m-b-5 text-darker default-size bolder">Return on</p>
													<div class="input-group custom-input-group">
														<input type="text" class="from-date form-control fnb-input sub-dates" placeholder="Return Date">
														<span class="input-group-addon from-date cursor-pointer" id=""><i class="fa fa-calendar"></i></span>
													</div>
												</div>

											</div>
										</div>

									</div>
								</div>
								<div class="tab-pane" id="multi-city">
									<div class="m-t-30">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dicta repellat iusto, facilis deserunt iste non? Quam non, assumenda, ullam, illum provident delectus molestiae quae ipsam obcaecati inventore, hic repellendus.
									</div>
								</div>
							</div>
							<!-- /tabs -->
						</div>
					
		            <!-- /tabs -->

		            <div class="m-t-30 collapsible">
					<!-- <a href="#demo" class="tdn" data-toggle="collapse"><i class="fa fa-caret-down m-r-5"></i> <strong>More options:</strong> Class of travel</a> -->
				  	<div id="demo" class="">
				    	<div class="row m-t-15">
    						<div class="col-md-5">
    							<div class="flex-1">
    								<p class="m-b-5 text-darker default-size bolder">Class of travel</p>
    								<select class="fnb-select select-variant default-size">
    									<option> --select--</option>
    									<option value="" >Economy</option>
    			                        <option value="" selected="">Business</option>
    			                        <option value="" >First Class</option>
    			                    </select>
    							</div>
    						</div>
    					<!-- 	<div class="col-md-4">
    							<div class="flex-1">
    								<p class="m-b-5 text-darker default-size">Preferred Airline</p>
    								<input type="text" class="fnb-input fullwidth"  placeholder="Airline Name">
    							</div>
    						</div>
    						<div class="col-md-4">
    							<div class="radio-group m-t-10 custom-radio">
    		            			<label for="dir-flight" class="m-b-25">
    		            				<input value="" type="checkbox" class="fnb-checkbox" name="" id="dir-flight" checked="">
    		            				<span class="p-l-5 text-medium text-color default-size">Direct Flights</span>
    		            			</label>
    		            			<br>
    		            			
    		            		</div>
    						</div> -->
    					</div>
				  	</div>
			  	</div>


						<hr>
						<div class="text-right m-b-15">
							<a href="{{ if $.Params.returnmodify }} /Goomo-CBT/account/flight-return-way/ {{ else }} /Goomo-CBT/account/flight-one-way/ {{ end }}" class="btn fnb-btn primary-btn bold-btn full search-flight"><span>Search</span></a>
						</div>

					</div>
				</div>
			</div>			
		</div>


	</div>		
	{{ end }}

</header>
<!-- header ends -->