<h5 class="lighter m-b-15 line-height">Mobiz is a handy tool for frequent corporate travelers to book flights &amp; hotels in a convenient way.</h5>
<p class="bolder text-color m-t-20 m-b-20 p-t-20 p-b-20">Mobiz simplifies corporate travels.</p>
<ul class="points flex-row flex-wrap align-top">
	<li class="flex-row text-medium text-lighter align-top">
		<img src="{{"img/device.png" | absURL}}" class="img-responsive p-r-10">
		Easy access to Hotels &amp; Flights
	</li>
	<li class="flex-row text-medium text-lighter align-top p-l-5 p-r-5">
		<img src="{{"img/travel.png" | absURL}}" class="img-responsive p-r-10">
		Travel Savings - free meals, no rescheduling &amp; cancellation fees under corporate fares
	</li>
	<li class="flex-row text-medium text-lighter align-top">
		<img src="{{"img/approved.png" | absURL}}" class="img-responsive p-r-10">
		Approvals - Instant approvals and invoices based on your profile.
	</li>
</ul>
<p class="sub-title text-color m-t-30">If you have any queries or face problem during login, please contact the system admin.<br>
	<b class="p-t-10 m-r-5 x-small">Sakshi (HR manager),</b><br>
	<b class="p-t-10 x-small">Email : <a href="mailto:sakshi@ajency.in" class="dark-link">sakshi@ajency.in</a></b>
	<b class="p-t-10 x-small">Contact : <a href="callto:+91-93338-93338" class="dark-link">+91-93338-93338</a></b>
</p>