	<div class="mail-points">
		<img src="{{"img/mail-section.png" | absURL}}" class="" style="margin-left: -10px;">
	</div>
	<div class="mail-section__body text-center">
		<p class="text-darker m-t-20 m-b-20">If you have any queries or face any problem during logging in, please contact the system admin. 
		
		<b class="dis-block m-t-5 m-b-5">Sakshi (HR manager)</b>
		<b class="x-small m-r-5">Email : <a href="mailto:sakshi@ajency.in" class="dark-link">sakshi@ajency.in</a></b> |	
		<b class="x-small m-l-5">Contact: <a href="callto:+91-93338-93338" class="dark-link">+91-93338-93338</a></b></p>
		<!-- <img src="{{"img/happy-travel.png" | absURL}}" class="img-responsive center-block" width="180"> -->
		<hr>
		<p class="flex-row default-size text-lighter justify-center m-t-10 m-b-20"><img src="{{"img/mobiz-bnw.png" | absURL}}" class="img-responsive"> Powered by Goomo</p>
		<p class="text-darker m-b-20">Customer support number : <a href="callto:+91-93338-93338" class="dark-link">+91-93338-93338</a></p>
		<p class="text-color m-b-5 default-size">Copyright @ 2017 Goomo Group. All rights reserved.</p>
		<p class="text-color default-size"><a href="#" class="text-color">Privacy Policy</a> | <a href="#" class="text-color">Terms &amp; Conditions</a></p>
	</div>