<div class="search-results__head flex-row m-t-10 p-t-5 p-b-5">
	<div class="head_col text-lighter airline">
		<div class="dis-inline">
			Airlines
		</div>
	</div>
	<div class="head_col text-lighter depart">
		<div class="dis-inline text-left m-l-25">
			Depart
		</div>
	</div>
	<div class="head_col text-lighter arrive">
		<div class="dis-inline text-left m-l-25">
			Arrive
		</div>
	</div>
	<div class="head_col text-lighter duration">
		Duration
	</div>
	<div class="head_col text-lighter policy">
		
	</div>
	<div class="head_col text-lighter price">
		<div class="dis-inline text-left">
			Fare
		</div>
	</div>
</div>
<div class="search-results__body">
	<div class="flex-row separator align-top">
		<div class="head_col text-lighter flex-row align-top airline">
			<div class="p-l-10">
				<div class="flex-row">
					<img src="{{"img/SG.png" | absURL}}" class="img-responsive" width="28">
					<!-- <img src="{{"img/earliest.png" | absURL}}" class="no-opac img-responsive m-l-10 cursor-pointer" width="30" data-toggle="tooltip" data-placement="top" title="Earliest Flight"> -->
					<div class="p-l-10 text-left">
						<p class="text-lighter lighter x-small m-b-0">Spice Jet</p>
						<p class="m-b-0 text-lighter lighter x-small">SG454</p>
					</div>
				</div>
			</div>
		</div>
		<div class="head_col text-lighter depart">
			<div class="dis-inline text-left">
				<p class="bolder text-color m-b-0 label-size bat-color">04:30</p>
				<p class="m-b-0 x-small text-lighter lighter">GOI - BOM</p>
			</div>
		</div>
		<div class="head_col text-lighter arrive">
			<p class="text-color m-b-5 label-size">10:30</p>
		</div>
		<div class="head_col text-lighter duration">
			<p class="text-color m-b-0 label-size">1h 15m</p>
			<p class="m-b-0 x-small text-lighter">Non Stop</p>
		</div>
		<!-- <div class="head_col text-lighter policy">
			<p class="m-b-0 x-small text-danger"><i class="fa fa-ban dis-block m-b-5" aria-hidden="true"></i> Out of Policy</p>
		</div> -->
		<div class="head_col text-lighter price-row flex-row align-top">
			<div class="check-separator no-rate">
			 	<div class="justify-center">
					<!-- <img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist"> -->
					
					<p class="m-b-0 text-color flex-row justify-center"><i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b></p>
					<p class="m-b-0 lighter x-small">(Corporate Fare)</p>
					<p class="m-b-0 x-small text-danger m-t-5 flex-row justify-center"><i class="fa fa-ban dis-block p-r-5" aria-hidden="true"></i> Out of Policy</p>
				</div>
			</div>
			{{ if $.Params.link }}
			{{ else }}
			<i class="fa fa-times default-size m-l-30 m-t-5 cursor-pointer text-lighter" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Remove from shortlist"></i>
			{{ end }}
		</div>
	</div>
	<!-- <div class="comment-box">
		<p class="m-b-0 text-darker p-l-15"><b class="bolder">Comments: </b> The cheapest flight option did not match my schedule</p>
	</div> -->
	<div class="flex-row separator align-top">
		<div class="head_col text-lighter flex-row align-top airline">
			<div class="p-l-10">
				<div class="flex-row">
					<img src="{{"img/AI.png" | absURL}}" class="img-responsive" width="28">
					<!-- <img src="{{"img/earliest.png" | absURL}}" class="no-opac img-responsive m-l-10 cursor-pointer" width="30" data-toggle="tooltip" data-placement="top" title="Earliest Flight"> -->
					<div class="p-l-10 text-left">
						<p class="text-lighter lighter x-small m-b-0">Air India</p>
						<p class="m-b-0 text-lighter lighter x-small">AI454</p>
					</div>
				</div>
				
			</div>
		</div>
		<div class="head_col text-lighter depart">
			<div class="dis-inline text-left">
				<p class="bolder text-color m-b-0 sub-title bat-color">04:30</p>
				<p class="m-b-0 x-small text-lighter lighter">GOI - BOM</p>
			</div>
		</div>
		<div class="head_col text-lighter arrive">
			<p class="text-color m-b-5 sub-title">10:30</p>
		</div>
		<div class="head_col text-lighter duration">
			<p class="text-color m-b-0 sub-title">1h 15m</p>
			<p class="m-b-0 x-small text-lighter">Non Stop</p>
		</div>
		<!-- <div class="head_col text-lighter policy">
			<div class="flight-label cheapest dis-inline">
				Cheapest
			</div>
		</div> -->
		<div class="head_col text-lighter price-row flex-row align-top">
			<div class="check-separator no-rate">
			 	<div class=" justify-center">
					<!-- <img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist"> -->
					
					<p class="m-b-0 text-color flex-row justify-center"><i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b></p>
					<p class="m-b-0 lighter x-small">(Retail Fare)</p>
				</div>
			</div>
			{{ if $.Params.link }}
			{{ else }}
			<i class="fa fa-times default-size m-l-30 m-t-5 cursor-pointer text-lighter" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Remove from shortlist"></i>
			{{ end }}
		</div>
	</div>
	<div class="flex-row separator align-top">
		<div class="head_col text-lighter flex-row align-top airline">
			<div class="p-l-10">
				<div class="flex-row">
					<img src="{{"img/SG.png" | absURL}}" class="img-responsive" width="28">
					<!-- <img src="{{"img/earliest.png" | absURL}}" class="no-opac img-responsive m-l-10 cursor-pointer" width="30" data-toggle="tooltip" data-placement="top" title="Earliest Flight"> -->
					<div class="p-l-10 text-left">
						<p class="text-lighter lighter x-small m-b-0">Spice Jet</p>
						<p class="m-b-0 text-lighter lighter x-small">SG454</p>
					</div>
				</div>
			</div>
		</div>
		<div class="head_col text-lighter depart">
			<div class="dis-inline text-left">
				<p class="bolder text-color m-b-0 label-size bat-color">04:30</p>
				<p class="m-b-0 x-small text-lighter lighter">GOI - BOM</p>
			</div>
		</div>
		<div class="head_col text-lighter arrive">
			<p class="text-color m-b-5 label-size">10:30</p>
		</div>
		<div class="head_col text-lighter duration">
			<p class="text-color m-b-0 label-size">1h 15m</p>
			<p class="m-b-0 x-small text-lighter">Non Stop</p>
		</div>
	
		<div class="head_col text-lighter price-row flex-row align-top">
			<div class="check-separator no-rate">
			 	<div class="justify-center">
					<!-- <img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist"> -->
					
					<p class="m-b-0 text-color flex-row justify-center"><i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b></p>
					<p class="m-b-0 lighter x-small">(Corporate Fare)</p>
				</div>
			</div>
			{{ if $.Params.link }}
			{{ else }}
			<i class="fa fa-times default-size m-l-30 m-t-5 cursor-pointer text-lighter" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Remove from shortlist"></i>
			{{ end }}
		</div>
	</div>
</div>
