{{ define "main" }}


<div class="row m-t-40 p-t-20">
	<div class="col-sm-3 white-box m-b-30">
		{{ partial "flight-filters.html" .}}
	</div>
	<div class="col-sm-9">
		<div class="flight-sort flex-row">
			<div class="sort-label earliest active">Earliest</div>
			<div class="sort-label fastest">Fastest</div>
			<div class="sort-label cheapest">Cheapest</div>
			<div class="dropdown element-title"><i class="fa fa-angle-down"></i></div>
		</div>
		<div class="whishlist-bar flex-row space-between m-t-20 m-b-20">
			<div class="flex-row">
				<img src="{{"img/flight.png" | absURL}}" class="img-responsive m-r-5">
				<div>
					<p class="text-darker bolder default-size m-b-5">Goa to Mumbai - Thu, 07 Dec</p>
					<span class="text-lighter dis-block">33 flights found</span>
				</div>
			</div>
			<div>
				<p class="bat-color text-uppercase default-size flex-row relative m-r-10 shortlist-row m-b-0">Shortlist <a href="/Goomo-CBT/account/shortlist/"><i class="fa fa-thumbs-up shortlist-me no-click active cursor-pointer" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Shortlist"></i></a>
				<span class="notification text-secondary">2</span>
				</p>
			</div>
		</div>
		<div class="search-results white-box search-version">
			<div class="search-results__head flex-row m-t-10 p-t-5 p-b-5">
				<div class="head_col text-lighter airline">
					<div class="dis-inline">
						Airlines
					</div>
				</div>
				<div class="head_col text-lighter depart">
					<div class="dis-inline text-left m-l-25">
						Depart
					</div>
				</div>
				<div class="head_col text-lighter arrive">
					<div class="dis-inline text-left m-l-20">
						Arrive
					</div>
				</div>
				<div class="head_col text-lighter duration">
					Duration
				</div>
				<div class="head_col text-lighter policy">
					
				</div>
				<div class="head_col text-lighter price">
					<div class="dis-inline text-left m-l-15">
						Price
					</div>
				</div>
			</div>
			<div class="search-results__body m-b-30">
				<div class="flex-row separator align-top">
					<div class="head_col text-lighter flex-row align-top airline">
						<i class="fa fa-thumbs-up shortlist-me cursor-pointer" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Shortlist"></i>
						<div>
							<div class="flex-row">
								<img src="{{"img/SG.png" | absURL}}" class="img-responsive" width="28">
								<!-- <img src="{{"img/earliest.png" | absURL}}" class="no-opac img-responsive m-l-10 cursor-pointer" width="30" data-toggle="tooltip" data-placement="top" title="Earliest Flight"> -->
								<div class="p-l-10 text-left">
									<p class="text-lighter lighter x-small m-b-0">Spice Jet</p>
									<p class="m-b-0 text-lighter lighter x-small">SG454</p>
								</div>
							</div>
						</div>
					</div>
					<div class="head_col text-lighter depart">
						<div class="dis-inline text-left">
							<p class="bolder text-color m-b-0 sub-title bat-color">04:30</p>
							<p class="m-b-0 x-small text-lighter lighter">GOI - BOM</p>
						</div>
					</div>
					<div class="head_col text-lighter arrive">
						<p class="text-color m-b-5 sub-title">10:30</p>
					</div>
					<div class="head_col text-lighter duration">
						<p class="text-color m-b-0 sub-title">1h 15m</p>
						<p class="m-b-0 x-small text-lighter">Non Stop</p>
					</div>
					<div class="head_col text-lighter policy">
						<p class="m-b-0 x-small text-danger"><i class="fa fa-ban dis-block" aria-hidden="true"></i> out of policy</p>
					</div>
					<div class="head_col text-lighter price-row flex-row align-top">
						<div class="check-separator">
						 	<div class="flex-row justify-center">
								<!-- <img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist"> -->
								<input type="radio" name="book-check-1" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio" checked>
								<p class="m-b-0 text-color flex-row"><i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b> <img src="{{"img/corporate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer no-opac" width="20" data-toggle="tooltip" data-placement="top" title="Corporate rate"></p>
							</div>
							<div class="flex-row justify-center price-row__separation">
								<!-- <p class="m-b-0 text-darker x-small flex-row"><img src="{{"img/corporate.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Corporate rate"> <i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b></p>
								<p class="m-b-0 p-l-5 p-r-5">|</p> -->
								<p class="m-b-0 text-darker x-small flex-row"><input type="radio" name="book-check-1" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio"> </p>
								<div class="flex-row m-t-5">
									<i class="fa fa-inr" aria-hidden="true"></i> 5,110 <div class="p-l-15"><img src="{{"img/retail-rate.png" | absURL}}" class="img-responsive cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Retail rate"></div>
								</div>
							</div>
						</div>
						<div class="m-l-15">
							<button type="submit" class="btn primary-btn fnb-btn no-radius text-uppercase book-btn">Book</button>
							<p class="detail-collapse text-color m-b-0 p-l-10 p-r-5 m-t-5 cursor-pointer" data-toggle="collapse" data-target="#flight-data" aria-expanded="false" aria-controls="flight-data">Flight Details<i class="fa fa-angle-down p-l-5" aria-hidden="true"></i></p>
						</div>
						<!-- <p class="detail-collapse text-color m-b-0 p-l-5 p-r-5 cursor-pointer" data-toggle="collapse" data-target="#flight-data" aria-expanded="false" aria-controls="flight-data"><i class="fa fa-angle-down" aria-hidden="true"></i></p> -->
					</div>
				</div>
				<div class="collapsed-area collapse" id="flight-data">
					<div class="tab-data p-t-10 p-b-10"> 
						<ul class="tab-data__links flex-row">
							<li class="active"><a href="#flight-detail" class="gray-darker bolder x-small" aria-controls="flight-detail" role="tab" data-toggle="tab">Flight Details</a></li>
							<li><a href="#price-summary" class="gray-darker bolder x-small" aria-controls="price-summary" role="tab" data-toggle="tab">Price Summary</a></li>
							<li><a href="#cancel-fee" class="gray-darker bolder x-small" aria-controls="cancel-fee" role="tab" data-toggle="tab">Cancellation Fee</a></li>
							<li><a href="#re-fee" class="gray-darker bolder x-small" aria-controls="re-fee" role="tab" data-toggle="tab">Rescheduling Fee</a></li>
							<li><a href="#bag-details" class="gray-darker bolder x-small" aria-controls="bag-details" role="tab" data-toggle="tab">Baggage Details</a></li>
						</ul>
						<div class="tab-data__content tab-content">
							<div role="tabpanel" class="tab-pane active" id="flight-detail">
								<div class="flex-row space-between align-top">
									<div class="flex-row">
										<img src="{{"img/SG.png" | absURL}}" class="img-responsive img-circle">
										<div class="m-l-10">
											<p class="m-b-0 lighter default-size">Spice Jet</p>
											<p class="m-b-0 text-lighter lighter x-small">SJ-643</p>
										</div>
									</div>
									<div class="">
										<p class="m-b-0 bolder default-size">Goa (GOI)</p>
										<p class="m-b-0 text-lighter lighter x-small m-t-5">Wed, 07 Dec, 04:30 Dabolim</p>
									</div>
									<div class="x-small lighter text-lighter text-center">
										<div class="mode-border">
											<p><span>03h 35m</span> <span class="p-l-5 p-r-5">|</span> <span>Non Stop</span><span class="p-l-5 p-r-5">|</span><span class="text-danger">Refundable</span></p>
										</div>
										<div class="m-t-5">
											<p class="m-b-0"><span>Economy Class</span> <span class="p-l-5 p-r-5">|</span> <span>Booking Class: H</span><span class="p-l-5 p-r-5">|</span><span class="">Meals</span></p>
										</div>
									</div>
									<div class="">
										<p class="m-b-0 bolder default-size">Mumbai (BOM)</p>
										<p class="m-b-0 text-lighter lighter x-small m-t-5">Wed, 07 Dec, 10:30 <br> Chatrapati Shivaji - T-1</p>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="price-summary">
								<table class="table table-striped"> 
									<tbody> 
										<tr> 
											<td>Base Fare</td>
											<td>Rs 4000</td> 
										</tr>
										<tr> 
											<td>Taxes</td>
											<td>Rs 995</td> 
										</tr>
										<tr> 
											<td>Service Charges</td>
											<td>Rs 0</td> 
										</tr>
										<tr> 
											<td>Rounding Off</td>
											<td>Rs 0</td> 
										</tr>
										<tr> 
											<td>Transaction Fees</td>
											<td>Rs 0</td> 
										</tr>
										<tr> 
											<td>You Pay</td>
											<td>Rs 4995</td> 
										</tr>
									</tbody>
								</table>
							</div>
							<div role="tabpanel" class="tab-pane" id="cancel-fee">
								<p class="text-lighter default-size">No Penalties on Cancellation for Corporate Fares</p>
							</div>
							<div role="tabpanel" class="tab-pane" id="re-fee">
								<p class="text-lighter default-size">No Penalties on Rescheduling for Corporate Fares</p>
							</div>
							<div role="tabpanel" class="tab-pane" id="bag-details">
								<table class="table table-striped"> 
									<tbody> 
										<tr> 
											<td>Hand Baggage</td>
											<td>7 kg</td> 
										</tr>
										<tr> 
											<td>Check In Baggage</td>
											<td>15 kg</td> 
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="flex-row separator align-top">
					<div class="head_col text-lighter flex-row align-top airline">
						<i class="fa fa-thumbs-up shortlist-me cursor-pointer active" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Shortlist"></i>
						<div>
							<div class="flex-row">
								<img src="{{"img/AI.png" | absURL}}" class="img-responsive" width="28">
								<!-- <img src="{{"img/earliest.png" | absURL}}" class="no-opac img-responsive m-l-10 cursor-pointer" width="30" data-toggle="tooltip" data-placement="top" title="Earliest Flight"> -->
								<div class="p-l-10 text-left">
									<p class="text-lighter lighter x-small m-b-0">Air India</p>
									<p class="m-b-0 text-lighter lighter x-small">AI454</p>
								</div>
							</div>
							
						</div>
					</div>
					<div class="head_col text-lighter depart">
						<div class="dis-inline text-left">
							<p class="bolder text-color m-b-0 sub-title bat-color">04:30</p>
							<p class="m-b-0 x-small text-lighter lighter">GOI - BOM</p>
						</div>
					</div>
					<div class="head_col text-lighter arrive">
						<p class="text-color m-b-5 sub-title">10:30</p>
					</div>
					<div class="head_col text-lighter duration">
						<p class="text-color m-b-0 sub-title">1h 15m</p>
						<p class="m-b-0 x-small text-lighter">Non Stop</p>
					</div>
					<div class="head_col text-lighter policy">
						<!-- <p class="m-b-0 x-small text-danger"><i class="fa fa-ban" aria-hidden="true"></i> out of policy</p> -->
						<div class="flight-label cheapest dis-inline">
							Cheapest
						</div>
					</div>
					<div class="head_col text-lighter price-row flex-row align-top">
						<div class="check-separator">
						 	<div class="flex-row justify-center">
								<!-- <img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist"> -->
								<input type="radio" name="book-check-2" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio" checked>
								<p class="m-b-0 text-color flex-row"><i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b> <img src="{{"img/corporate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer no-opac" width="20" data-toggle="tooltip" data-placement="top" title="Corporate rate"></p>
							</div>
							<div class="flex-row justify-center price-row__separation">
								<!-- <p class="m-b-0 text-darker x-small flex-row"><img src="{{"img/corporate.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Corporate rate"> <i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b></p>
								<p class="m-b-0 p-l-5 p-r-5">|</p> -->
								<p class="m-b-0 text-darker x-small flex-row"><input type="radio" name="book-check-2" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio"> </p>
								<div class="flex-row m-t-5">
									<i class="fa fa-inr" aria-hidden="true"></i> 5,110 <div class="p-l-15"><img src="{{"img/retail-rate.png" | absURL}}" class="img-responsive cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Retail rate"></div>
								</div>
							</div>
						</div>
						<div class="m-l-15">
							<button type="submit" class="btn primary-btn fnb-btn no-radius text-uppercase book-btn">Book</button>
							<!-- <p class="detail-collapse text-color m-b-0 p-l-10 p-r-5 m-t-5 cursor-pointer" data-toggle="collapse" data-target="#flight-data" aria-expanded="false" aria-controls="flight-data">Flight Details<i class="fa fa-angle-down p-l-5" aria-hidden="true"></i></p> -->
						</div>
						<!-- <p class="detail-collapse text-color m-b-0 p-l-5 p-r-5 cursor-pointer" data-toggle="collapse" data-target="#flight-data" aria-expanded="false" aria-controls="flight-data"><i class="fa fa-angle-down" aria-hidden="true"></i></p> -->
					</div>
				</div>
				<div class="flex-row separator align-top">
					<div class="head_col text-lighter flex-row align-top airline">
						<i class="fa fa-thumbs-up shortlist-me cursor-pointer" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Shortlist"></i>
						<div>
							<div class="flex-row">
								<img src="{{"img/SG.png" | absURL}}" class="img-responsive" width="28">
								<!-- <img src="{{"img/earliest.png" | absURL}}" class="no-opac img-responsive m-l-10 cursor-pointer" width="30" data-toggle="tooltip" data-placement="top" title="Earliest Flight"> -->
								<div class="p-l-10 text-left">
									<p class="text-lighter lighter x-small m-b-0">Spice Jet</p>
									<p class="m-b-0 text-lighter lighter x-small">SG454</p>
								</div>
							</div>
						</div>
					</div>
					<div class="head_col text-lighter depart">
						<div class="dis-inline text-left">
							<p class="bolder text-color m-b-0 sub-title bat-color">04:30</p>
							<p class="m-b-0 x-small text-lighter lighter">GOI - BOM</p>
						</div>
					</div>
					<div class="head_col text-lighter arrive">
						<p class="text-color m-b-5 sub-title">10:30</p>
					</div>
					<div class="head_col text-lighter duration">
						<p class="text-color m-b-0 sub-title">1h 15m</p>
						<p class="m-b-0 x-small text-lighter">Non Stop</p>
					</div>
					<div class="head_col text-lighter policy">
						<!-- <p class="m-b-0 x-small text-danger"><i class="fa fa-ban" aria-hidden="true"></i> out of policy</p> -->
					</div>
					<div class="head_col text-lighter price-row flex-row align-top">
						<div class="check-separator no-rate">
						 	<div class="flex-row justify-center">
								<input type="radio" name="book-check-3" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio" checked>
								<p class="m-b-0 text-color flex-row"><i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b> <img src="{{"img/retail-rate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer no-opac" width="20" data-toggle="tooltip" data-placement="top" title="Retail rate"></p>
							</div>
							<!-- <div class="flex-row justify-center price-row__separation">
								
								<p class="m-b-0 text-darker x-small flex-row"><input type="radio" name="book-check-3" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio"> </p>
								<div class="flex-row m-t-5">
									<i class="fa fa-inr" aria-hidden="true"></i> 5,110 <div class="p-l-15"><img src="{{"img/retail-rate.png" | absURL}}" class="img-responsive cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Retail rate"></div>
								</div>
							</div> -->
						</div>
						<div class="m-l-15">
							<button type="submit" class="btn primary-btn fnb-btn no-radius text-uppercase book-btn">Book</button>
							<!-- <p class="detail-collapse text-color m-b-0 p-l-10 p-r-5 m-t-5 cursor-pointer" data-toggle="collapse" data-target="#flight-data" aria-expanded="false" aria-controls="flight-data">Flight Details<i class="fa fa-angle-down p-l-5" aria-hidden="true"></i></p> -->
						</div>
						<!-- <p class="detail-collapse text-color m-b-0 p-l-5 p-r-5 cursor-pointer" data-toggle="collapse" data-target="#flight-data" aria-expanded="false" aria-controls="flight-data"><i class="fa fa-angle-down" aria-hidden="true"></i></p> -->
					</div>
				</div>
				<div class="flex-row separator align-top">
					<div class="head_col text-lighter flex-row align-top airline">
						<i class="fa fa-thumbs-up shortlist-me cursor-pointer active" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Shortlist"></i>
						<div>
							<div class="flex-row">
								<img src="{{"img/AI.png" | absURL}}" class="img-responsive" width="32">
								<!-- <img src="{{"img/earliest.png" | absURL}}" class="no-opac img-responsive m-l-10 cursor-pointer" width="30" data-toggle="tooltip" data-placement="top" title="Earliest Flight"> -->
								<div class="p-l-10 text-left">
									<p class="text-lighter lighter x-small m-b-0">Air India</p>
									<p class="m-b-0 text-lighter lighter x-small">AI454</p>
								</div>
							</div>
							
						</div>
					</div>
					<div class="head_col text-lighter depart">
						<div class="dis-inline text-left">
							<p class="bolder text-color m-b-0 sub-title bat-color">04:30</p>
							<p class="m-b-0 x-small text-lighter lighter">GOI - BOM</p>
						</div>
					</div>
					<div class="head_col text-lighter arrive">
						<p class="text-color m-b-5 sub-title">10:30</p>
					</div>
					<div class="head_col text-lighter duration">
						<p class="text-color m-b-0 sub-title">1h 15m</p>
						<p class="m-b-0 x-small text-lighter">Non Stop</p>
					</div>
					<div class="head_col text-lighter policy">
						<!-- <p class="m-b-0 x-small text-danger"><i class="fa fa-ban" aria-hidden="true"></i> out of policy</p> -->
						<div class="m-b-5">
							<div class="flight-label fastest dis-inline">
								Fastest
							</div>
						</div>
						<div class="flight-label earliest dis-inline">
							Earliest
						</div>
					</div>
					<div class="head_col text-lighter price-row flex-row align-top">
						<div class="check-separator">
						 	<div class="flex-row justify-center">
								<!-- <img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist"> -->
								<input type="radio" name="book-check-4" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio" checked>
								<p class="m-b-0 text-color flex-row"><i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">5,100</b> <img src="{{"img/retail-rate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer no-opac" width="20" data-toggle="tooltip" data-placement="top" title="Retail rate"></p>
							</div>
							<div class="flex-row justify-center price-row__separation">
								<!-- <p class="m-b-0 text-darker x-small flex-row"><img src="{{"img/corporate.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Corporate rate"> <i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b></p>
								<p class="m-b-0 p-l-5 p-r-5">|</p> -->
								<p class="m-b-0 text-darker x-small flex-row"><input type="radio" name="book-check-4" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio"> </p>
								<div class="flex-row m-t-5">
									<i class="fa fa-inr" aria-hidden="true"></i> 5,330 <div class="p-l-15"><img src="{{"img/corporate.png" | absURL}}" class="img-responsive cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Corporate rate"></div>
								</div>
							</div>
						</div>
						<div class="m-l-15">
							<button type="submit" class="btn primary-btn fnb-btn no-radius text-uppercase book-btn">Book</button>
							<!-- <p class="detail-collapse text-color m-b-0 p-l-10 p-r-5 m-t-5 cursor-pointer" data-toggle="collapse" data-target="#flight-data" aria-expanded="false" aria-controls="flight-data">Flight Details<i class="fa fa-angle-down p-l-5" aria-hidden="true"></i></p> -->
						</div>
						<!-- <p class="detail-collapse text-color m-b-0 p-l-5 p-r-5 cursor-pointer" data-toggle="collapse" data-target="#flight-data" aria-expanded="false" aria-controls="flight-data"><i class="fa fa-angle-down" aria-hidden="true"></i></p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{{ end }}
