{{ define "main" }}


<div class="row m-t-40 p-t-20">
	<div class="col-sm-3 white-box m-b-30">
		{{ partial "flight-filters.html" .}}
	</div>
	<div class="col-sm-9">
		<div class="flight-sort flex-row">
			<div class="sort-label earliest active">Earliest</div>
			<div class="sort-label fastest">Fastest</div>
			<div class="sort-label cheapest">Cheapest</div>
			<div class="dropdown element-title"><i class="fa fa-angle-down"></i></div>
		</div>
		<div class="whishlist-bar flex-row space-between m-t-20 m-b-20">
			<div class="flex-row">
				<img src="{{"img/flight.png" | absURL}}" class="img-responsive m-r-5">
				<div>
					<p class="text-darker bolder default-size m-b-5">Goa to Mumbai - Thu, 07 Dec</p>
					<span class="text-lighter dis-block">33 flights found</span>
				</div>
			</div>
			<div>
				<p class="bat-color text-uppercase default-size flex-row relative m-r-10 shortlist-row m-b-0">Shortlist <img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-l-10" width="25">
				<span class="notification text-secondary">2</span>
				</p>
			</div>
		</div>
		<div class="search-results white-box">
			<div class="search-results__head flex-row m-t-10 p-t-5 p-b-5">
				<div class="head_col text-lighter">
					<div class="dis-inline">
						Airlines
					</div>
				</div>
				<div class="head_col text-lighter">
					<div class="dis-inline text-left m-r-25">
						Depart
					</div>
				</div>
				<div class="head_col text-lighter">
					Arrive
				</div>
				<div class="head_col text-lighter">
					Duration
				</div>
				<div class="head_col text-lighter">
					<div class="dis-inline text-left m-r-25">
						Price
					</div>
				</div>
			</div>
			<div class="search-results__body m-b-30">
				<div class="flex-row separator align-top">
					<div class="head_col text-lighter flex-row align-top">
						<img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-r-25 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist">
						<div>
							<div class="flex-row">
								<img src="{{"img/SG.png" | absURL}}" class="img-responsive img-circle">
								<img src="{{"img/earliest.png" | absURL}}" class="no-opac img-responsive m-l-10 cursor-pointer" width="30" data-toggle="tooltip" data-placement="top" title="Earliest Flight">
							</div>
							<p class="m-b-0 text-lighter lighter x-small m-t-5">SJ-643</p>
						</div>
					</div>
					<div class="head_col text-lighter">
						<div class="dis-inline text-left">
							<p class="bolder text-color m-b-5">04:30</p>
							<p class="m-b-0 x-small text-lighter">GOI - BOM</p>
							<p class="m-b-0 x-small text-lighter">Spice Jet</p>
						</div>
					</div>
					<div class="head_col text-lighter">
						<p class="text-color m-b-5">10:30</p>
					</div>
					<div class="head_col text-lighter">
						<p class="text-color m-b-5">6h</p>
						<p class="m-b-0 x-small text-lighter">1 Stop</p>
					</div>
					<div class="head_col text-lighter price-row flex-row">
						<div>
						 	<div class="flex-row justify-center">
								<!-- <img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist"> -->
								<input type="radio" name="book-check-1" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio" checked>
								<p class="m-b-0 text-color flex-row"><i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b> <img src="{{"img/corporate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer no-opac" width="15" data-toggle="tooltip" data-placement="top" title="Corporate rate"></p>
							</div>
							<div class="flex-row justify-center price-row__separation m-r-10">
								<!-- <p class="m-b-0 text-darker x-small flex-row"><img src="{{"img/corporate.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Corporate rate"> <i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b></p>
								<p class="m-b-0 p-l-5 p-r-5">|</p> -->
								<p class="m-b-0 text-darker x-small flex-row"><input type="radio" name="book-check-1" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio"> </p>
								<div class="flex-row m-t-5">
									<i class="fa fa-inr" aria-hidden="true"></i> 5,110 <img src="{{"img/retail-rate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer" width="18" data-toggle="tooltip" data-placement="top" title="Retail rate">
								</div>
							</div>
						</div>
						<button type="submit" class="btn primary-btn fnb-btn no-radius text-uppercase book-btn">Book</button>
					</div>
				</div>
				<div class="flex-row separator align-top no-b-top">
					<div class="head_col text-lighter flex-row align-top">
						<img src="{{"img/Wishlist.png" | absURL}}" class="img-responsive m-r-25 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist">
						<div class="">
							<div class="flex-row">
								<img src="{{"img/AI.png" | absURL}}" class="img-responsive img-circle">
								<img src="{{"img/fastest.png" | absURL}}" class="no-opac img-responsive m-l-10 cursor-pointer" width="30" data-toggle="tooltip" data-placement="top" title="Fastest Flight">
							</div>
							<p class="m-b-0 text-lighter lighter x-small m-t-5">AI-603</p>
						</div>
					</div>
					<div class="head_col text-lighter">
						<div class="dis-inline text-left">
							<p class="bolder text-color m-b-5">04:30</p>
							<p class="m-b-0 x-small text-lighter">GOI - BOM</p>
							<p class="m-b-0 x-small text-lighter">Air India</p>
						</div>
					</div>
					<div class="head_col text-lighter">
						<p class="text-color m-b-5">10:30</p>
					</div>
					<div class="head_col text-lighter">
						<p class="text-color m-b-5">2h</p>
						<p class="m-b-0 x-small text-lighter">nonstop</p>
						<p class="m-b-0 x-small text-danger"><i class="fa fa-ban" aria-hidden="true"></i> out of policy</p>
					</div>
					<div class="head_col text-lighter price-row flex-row">
						<div>
							<div class="flex-row justify-center">
								<!-- <img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist"> -->
								<input type="radio" name="book-check-2" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio" checked>
								<p class="m-b-0 text-color flex-row"><i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,000</b> <img src="{{"img/retail-rate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer no-opac" width="15" data-toggle="tooltip" data-placement="top" title="Retail rate"></p>
								
							</div>
							<div class="flex-row justify-center price-row__separation m-r-10">
								<!-- <p class="m-b-0 text-darker x-small flex-row"><img src="{{"img/corporate.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Corporate rate"> <i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b></p>
								<p class="m-b-0 p-l-5 p-r-5">|</p> -->
								<p class="m-b-0 text-darker x-small flex-row"><input type="radio" name="book-check-2" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio"> </p>
								<div class="flex-row m-t-5">
									<i class="fa fa-inr" aria-hidden="true"></i> 4,990 <img src="{{"img/corporate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer" width="18" data-toggle="tooltip" data-placement="top" title="Corporate rate"> 
								</div>
							</div>
						</div>
						<button type="submit" class="btn primary-btn fnb-btn no-radius text-uppercase book-btn">Book</button>
					</div>
				</div>
				<div class="flex-row separator align-top">
					<div class="head_col text-lighter flex-row align-top">
						<img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-r-25 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist">
						<div>
							<div class="flex-row">
								<img src="{{"img/SG.png" | absURL}}" class="img-responsive img-circle">
								<img src="{{"img/earliest.png" | absURL}}" class="no-opac img-responsive m-l-10 cursor-pointer" width="30" data-toggle="tooltip" data-placement="top" title="Earliest Flight">
							</div>
							<p class="m-b-0 text-lighter lighter x-small m-t-5">SJ-643</p>
						</div>
					</div>
					<div class="head_col text-lighter">
						<div class="dis-inline text-left">
							<p class="bolder text-color m-b-5">04:30</p>
							<p class="m-b-0 x-small text-lighter">GOI - BOM</p>
							<p class="m-b-0 x-small text-lighter">Spice Jet</p>
						</div>
					</div>
					<div class="head_col text-lighter">
						<p class="text-color m-b-5">10:30</p>
					</div>
					<div class="head_col text-lighter">
						<p class="text-color m-b-5">6h</p>
						<p class="m-b-0 x-small text-lighter">1 Stop</p>
					</div>
					<div class="head_col text-lighter price-row flex-row">
						<div>
						 	<div class="flex-row justify-center">
								<!-- <img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist"> -->
								<input type="radio" name="book-check-3" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio" checked>
								<p class="m-b-0 text-color flex-row"><i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b> <img src="{{"img/corporate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer no-opac" width="15" data-toggle="tooltip" data-placement="top" title="Corporate rate"></p>
							</div>
							<div class="flex-row justify-center price-row__separation m-r-10">
								<!-- <p class="m-b-0 text-darker x-small flex-row"><img src="{{"img/corporate.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Corporate rate"> <i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b></p>
								<p class="m-b-0 p-l-5 p-r-5">|</p> -->
								<p class="m-b-0 text-darker x-small flex-row"><input type="radio" name="book-check-3" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio"> </p>
								<div class="flex-row m-t-5">
									<i class="fa fa-inr" aria-hidden="true"></i> 5,110 <img src="{{"img/retail-rate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer" width="18" data-toggle="tooltip" data-placement="top" title="Retail rate">
								</div>
							</div>
						</div>
						<button type="submit" class="btn primary-btn fnb-btn no-radius text-uppercase book-btn">Book</button>
					</div>
				</div>
				<div class="flex-row separator align-top no-b-top">
					<div class="head_col text-lighter flex-row align-top">
						<img src="{{"img/Wishlist.png" | absURL}}" class="img-responsive m-r-25 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist">
						<div class="">
							<div class="flex-row">
								<img src="{{"img/AI.png" | absURL}}" class="img-responsive img-circle">
								<img src="{{"img/fastest.png" | absURL}}" class="no-opac img-responsive m-l-10 cursor-pointer" width="30" data-toggle="tooltip" data-placement="top" title="Fastest Flight">
							</div>
							<p class="m-b-0 text-lighter lighter x-small m-t-5">AI-603</p>
						</div>
					</div>
					<div class="head_col text-lighter">
						<div class="dis-inline text-left">
							<p class="bolder text-color m-b-5">04:30</p>
							<p class="m-b-0 x-small text-lighter">GOI - BOM</p>
							<p class="m-b-0 x-small text-lighter">Air India</p>
						</div>
					</div>
					<div class="head_col text-lighter">
						<p class="text-color m-b-5">10:30</p>
					</div>
					<div class="head_col text-lighter">
						<p class="text-color m-b-5">2h</p>
						<p class="m-b-0 x-small text-lighter">nonstop</p>
						<p class="m-b-0 x-small text-danger"><i class="fa fa-ban" aria-hidden="true"></i> out of policy</p>
					</div>
					<div class="head_col text-lighter price-row flex-row">
						<div>
							<div class="flex-row justify-center">
								<!-- <img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist"> -->
								<input type="radio" name="book-check-4" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio" checked>
								<p class="m-b-0 text-color flex-row"><i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,000</b> <img src="{{"img/retail-rate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer no-opac" width="15" data-toggle="tooltip" data-placement="top" title="Retail rate"></p>
								
							</div>
							<!-- <div class="flex-row justify-center price-row__separation m-r-10">
								<p class="m-b-0 text-darker x-small flex-row"><input type="radio" name="book-check-4" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio"> </p>
								<div class="flex-row m-t-5">
									<i class="fa fa-inr" aria-hidden="true"></i> 4,990 <img src="{{"img/corporate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer" width="18" data-toggle="tooltip" data-placement="top" title="Corporate rate"> 
								</div>
							</div> -->
						</div>
						<button type="submit" class="btn primary-btn fnb-btn no-radius text-uppercase book-btn">Book</button>
					</div>
				</div>
				<div class="flex-row separator align-top">
					<div class="head_col text-lighter flex-row align-top">
						<img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-r-25 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist">
						<div>
							<div class="flex-row">
								<img src="{{"img/SG.png" | absURL}}" class="img-responsive img-circle">
								<img src="{{"img/earliest.png" | absURL}}" class="no-opac img-responsive m-l-10 cursor-pointer" width="30" data-toggle="tooltip" data-placement="top" title="Earliest Flight">
							</div>
							<p class="m-b-0 text-lighter lighter x-small m-t-5">SJ-643</p>
						</div>
					</div>
					<div class="head_col text-lighter">
						<div class="dis-inline text-left">
							<p class="bolder text-color m-b-5">04:30</p>
							<p class="m-b-0 x-small text-lighter">GOI - BOM</p>
							<p class="m-b-0 x-small text-lighter">Spice Jet</p>
						</div>
					</div>
					<div class="head_col text-lighter">
						<p class="text-color m-b-5">10:30</p>
					</div>
					<div class="head_col text-lighter">
						<p class="text-color m-b-5">6h</p>
						<p class="m-b-0 x-small text-lighter">1 Stop</p>
					</div>
					<div class="head_col text-lighter price-row flex-row">
						<div>
						 	<div class="flex-row justify-center">
								<!-- <img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist"> -->
								<input type="radio" name="book-check-5" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio" checked>
								<p class="m-b-0 text-color flex-row"><i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b> <img src="{{"img/corporate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer no-opac" width="15" data-toggle="tooltip" data-placement="top" title="Corporate rate"></p>
							</div>
							<!-- <div class="flex-row justify-center price-row__separation m-r-10">
								<p class="m-b-0 text-darker x-small flex-row"><input type="radio" name="book-check-5" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio"> </p>
								<div class="flex-row m-t-5">
									<i class="fa fa-inr" aria-hidden="true"></i> 5,110 <img src="{{"img/retail-rate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer" width="18" data-toggle="tooltip" data-placement="top" title="Retail rate">
								</div>
							</div> -->
						</div>
						<button type="submit" class="btn primary-btn fnb-btn no-radius text-uppercase book-btn">Book</button>
					</div>
				</div>
				<div class="flex-row separator align-top no-b-top">
					<div class="head_col text-lighter flex-row align-top">
						<img src="{{"img/Wishlist.png" | absURL}}" class="img-responsive m-r-25 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist">
						<div class="">
							<div class="flex-row">
								<img src="{{"img/AI.png" | absURL}}" class="img-responsive img-circle">
								<img src="{{"img/fastest.png" | absURL}}" class="no-opac img-responsive m-l-10 cursor-pointer" width="30" data-toggle="tooltip" data-placement="top" title="Fastest Flight">
							</div>
							<p class="m-b-0 text-lighter lighter x-small m-t-5">AI-603</p>
						</div>
					</div>
					<div class="head_col text-lighter">
						<div class="dis-inline text-left">
							<p class="bolder text-color m-b-5">04:30</p>
							<p class="m-b-0 x-small text-lighter">GOI - BOM</p>
							<p class="m-b-0 x-small text-lighter">Air India</p>
						</div>
					</div>
					<div class="head_col text-lighter">
						<p class="text-color m-b-5">10:30</p>
					</div>
					<div class="head_col text-lighter">
						<p class="text-color m-b-5">2h</p>
						<p class="m-b-0 x-small text-lighter">nonstop</p>
						<p class="m-b-0 x-small text-danger"><i class="fa fa-ban" aria-hidden="true"></i> out of policy</p>
					</div>
					<div class="head_col text-lighter price-row flex-row">
						<div>
							<div class="flex-row justify-center">
								<!-- <img src="{{"img/Wishlist-selected.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Shortlist"> -->
								<input type="radio" name="book-check-6" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio" checked>
								<p class="m-b-0 text-color flex-row"><i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,000</b> <img src="{{"img/retail-rate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer no-opac" width="15" data-toggle="tooltip" data-placement="top" title="Retail rate"></p>
								
							</div>
							<div class="flex-row justify-center price-row__separation m-r-10">
								<!-- <p class="m-b-0 text-darker x-small flex-row"><img src="{{"img/corporate.png" | absURL}}" class="img-responsive m-r-5 cursor-pointer" width="20" data-toggle="tooltip" data-placement="top" title="Corporate rate"> <i class="fa fa-inr" aria-hidden="true"></i> <b class="bat-color sub-title">4,995</b></p>
								<p class="m-b-0 p-l-5 p-r-5">|</p> -->
								<p class="m-b-0 text-darker x-small flex-row"><input type="radio" name="book-check-6" id="expressCheckYes" value="yes" class="fnb-radio book-select-radio"> </p>
								<div class="flex-row m-t-5">
									<i class="fa fa-inr" aria-hidden="true"></i> 4,990 <img src="{{"img/corporate.png" | absURL}}" class="img-responsive m-l-5 cursor-pointer" width="18" data-toggle="tooltip" data-placement="top" title="Corporate rate"> 
								</div>
							</div>
						</div>
						<button type="submit" class="btn primary-btn fnb-btn no-radius text-uppercase book-btn">Book</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{{ end }}
