{{ define "main" }}


<div class="row m-t-20 m-b-20">
	<!-- <div class="col-sm-12 m-b-10">
		<button type="submit" class="btn outline fnb-btn no-radius"><i class="fa fa-angle-left sub-title p-r-5" aria-hidden="true"></i> Back</button>		
	</div>
 -->
	<div class="col-sm-9 search-results shortlist-section flight-search">
		<div class="">
			<h6 class="bolder m-b-25">{{ $.Params.Title }}</h6>
		</div>
		<div class="white-box approve-detail">
			<div class="m-b-20 m-b-20">
				<div>
					<h5 class="text-darker bolder m-b-5">I am Booking for</h5>
					<div class="radio-check" id="stops">
		              <div class="stops-row m-t-15">
		              	<label><input type="radio" name="stops" class="radio" checked> <span>Myself</span></label>
		              	<label><input type="radio" name="stops" class="radio"> <span>Team Member</span></label>
		              	<label><input type="radio" name="stops" class="radio"> <span>Guest</span></label>
		              </div>
		            </div>
				</div>
			</div>
			<div class="flex-row">
				<div class="flex-1">
					<p class="m-b-5 text-darker default-size">Traveller Name</p>
					<input type="text" class="fnb-input fullwidth" value="Amar Singh" disabled="">
				</div>
				<div class="flex-1 m-l-15 m-r-15">
					<p class="m-b-5 text-darker default-size">Travel Category</p>
					<select class="fnb-select select-variant default-size">
						<option> --select--</option>
                        <option value="trip" selected="">Business Trip</option>
                    </select>
				</div>
				<div class="flex-1">
					<p class="m-b-5 text-darker default-size">Sub Category</p>
					<select class="fnb-select select-variant default-size">
						<option>--select--</option>
                        <option value="meeting" selected="">Meeting</option>
                    </select>
				</div>
			</div>
		</div>

		
	</div>
	<div class="col-sm-3">
		<div class="m-t-50 white-box padding-one-em">
			<h6 class="bolder text-darker line-height m-b-15">What happens once the request is sent for approval?</h6>
			<p class="default-size text-darker m-t-5 flex-row align-top"><i class="fa fa-hand-o-right text-primary m-r-10 m-t-5" aria-hidden="true"></i> You will receive a mail that your request is sent for approval.</p>
			<p class="default-size text-darker m-t-5 flex-row align-top"><i class="fa fa-hand-o-right text-primary m-r-10 m-t-5" aria-hidden="true"></i> Your approver too will receive a mail that a request has been sent for approval</p>
			<p class="default-size text-darker m-t-5 flex-row align-top"><i class="fa fa-hand-o-right text-primary m-r-10 m-t-5" aria-hidden="true"></i> Approver will then either Approve or Disapprove the booking</p>
			<p class="default-size text-darker m-t-5 flex-row align-top"><i class="fa fa-hand-o-right text-primary m-r-10 m-t-5" aria-hidden="true"></i> If the Approver, approves the booking then you receive a mail informing the same. Similarly for disapproval</p>
			<p class="default-size text-darker m-t-5 flex-row align-top"><i class="fa fa-hand-o-right text-primary m-r-10 m-t-5" aria-hidden="true"></i> Once approved, you can go ahead and issue your ticket/voucher</p>
		</div>
		<!-- <div class="m-t-50">
			<h5 class="bolder text-darker">About Goomo</h5>
			<p class="sub-title text-darker m-t-20"><a href="#" class="dark-link">Goomo</a> is an omni-channel, travel-tech company that distributes products &amp; services through its website goomo.com, 15 company owned branches and a b2b partner network.</p>
		</div> -->
	</div>
</div>
<br><br>

{{ end }}
