<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Booking Approval Mail</title>
	<link rel="stylesheet" href="{{"css/bootstrap.min.css" | absURL}}">
	<link rel="stylesheet" type="text/css" href="{{"css/font-awesome/css/font-awesome.min.css" | absURL}}">
	<link href="{{"css/main.css" | absURL}}" rel="stylesheet">
</head>
<body class="mail-bg">

<div class="container mail-content">

<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="mail-section" style="overflow-x:hidden;">
			<div class="mail-section__head m-t-40 text-center">
				<img src="{{"img/ajency-logo.png" | absURL}}" class="img-responsive center-block" width="150">
				<p class="flex-row default-size text-lighter justify-center m-t-10 m-b-20">Powered by <img src="{{"img/mobiz.png" | absURL}}" class="img-responsive"></p>
			</div>
			<div class="mail-section__body text-center">
				<!-- <img src="{{"img/approved.png" | absURL}}" class="img-responsive center-block"> -->
				<p class="text-color m-t-10 bolder text-left">Hi Valenie,</p>
				<h6 class="heavier m-t-20 m-b-30 label-size line-height text-left">Your Flight request has been rejected by your approver <b>Shon Duglas</b>.</h6>


								<!-- <p class="default-size bolder">Details as follows:</p> -->
				<p class="default-size text-darker text-left m-b-0 bolder p-b-5 mail-tag-heading">Booking Details</p>

				<div class="flex-row booking-row flex-wrap align-top">
					<div class="flex-1 text-left m-b-5">
						<p class="m-b-0 text-darker default-size">Booking Ref:</p>
						<h6 class="bolder m-t-5 default-size text-secondary">ABC123</h6>
					</div>
					<div class="flex-1 text-left m-b-5">
						<p class="m-b-0 text-darker default-size">Booking Date:</p>
						<h6 class="bolder text-color m-t-5 default-size">21 Dec 2017</h6>
					</div>
					<div class="flex-1 text-left m-b-5">
						<p class="m-b-0 text-darker default-size">Travel Date:</p>
						<h6 class="bolder text-color m-t-5 default-size">21 Dec 2017</h6>
					</div>
					<div class="flex-1 text-left">
						<p class="m-b-0 text-darker default-size">Booking Details:</p>
						<h6 class="bolder text-color m-t-5 default-size m-b-0">Goa to Mumbai - {{ if $.Params.oneway }} (One Way), 26 Dec 2017 {{ else }} (Return), 26 Dec 2017 - 28 Dec 2017 {{ end }}</h6>
					</div>
					<div class="flex-1 text-left m-b-5">
						<p class="m-b-0 text-darker default-size">Status:</p>
						<h6 class="bolder m-t-5 default-size text-success">Approved</h6>
					</div>
				</div>

				<p class="default-size text-darker text-left m-b-0 bolder p-b-5 m-t-20 mail-tag-heading">Traveller Details</p>


				<div class="flex-row booking-row travel-row flex-wrap align-top">
					<div class="flex-1 text-left m-b-5">
						<p class="m-b-0 text-darker default-size">Traveller(s):</p>
						<h6 class="bolder m-t-5 default-size text-secondary">1 Adult</h6>
					</div>
					<div class="flex-1 text-left m-b-5">
						<p class="m-b-0 text-darker default-size">Traveller Name:</p>
						<h6 class="bolder text-color m-t-5 default-size">Valenie Lourenco</h6>
					</div>
					<div class="flex-1 text-left m-b-5">
						<p class="m-b-0 text-darker default-size">Traveller Email:</p>
						<h6 class="bolder text-color m-t-5 default-size text-secondary">valenie@ajency.in</h6>
					</div>
					<div class="flex-1 text-left m-b-5">
						<p class="m-b-0 text-darker default-size">Travel Category:</p>
						<h6 class="bolder text-color m-t-5 default-size">Business</h6>
					</div>
					<div class="flex-1 text-left m-b-5">
						<p class="m-b-0 text-darker default-size">Travel Sub Category:</p>
						<h6 class="bolder text-color m-t-5 default-size">Business</h6>
					</div>
					<div class="flex-1 text-left m-b-5">
						<p class="m-b-0 text-darker default-size">Flight:</p>
						<h6 class="bolder text-color m-t-5 default-size line-height">Spice Jet (Non Stop) - 26 Dec 2017 - <div class="text-success">Refundable</div></h6>
						{{ if $.Params.oneway }}
						{{ else }}
						<h6 class="bolder text-color m-t-5 default-size line-height">Air India (Non Stop) - 28 Dec 2017</h6>
						{{ end }}
					</div>
				</div>

				<p class="default-size text-darker text-left m-b-0 bolder p-b-5 m-t-20 mail-tag-heading">Flight Details</p>

				<div class="flex-row booking-row travel-row flex-wrap align-top">
					<div class="flex-1 text-left m-b-5">
						<p class="m-b-0 text-darker default-size">Class:</p>
						<h6 class="bolder text-color m-t-5 default-size">Economy</h6>
					</div>
					<div class="flex-1 text-left m-b-5">
						<p class="m-b-0 text-darker default-size">Fare:</p>
						<h6 class="bolder text-color m-t-5 default-size">Rs.4500 (Corporate)</h6>
					</div>
					<div class="text-left m-b-30">
						<p class="default-size text-color m-b-10 text-left bolder p-b-5" style="border-bottom: 1px solid #eee;">Fare Rules</p>
						<p class="m-b-0 text-color default-size"><b class="heavier text-warning">Cancellation Fee:</b> No Penalties on Cancellation for Corporate Fares</p>
						<p class="m-b-0 text-color default-size"><b class="heavier text-warning">Rescheduling Fee:</b> No Penalties on Rescheduling for Corporate Fares</p>
						<p class="m-b-0 text-color default-size"><b class="heavier text-warning">Baggage Details:</b> Hand Baggage: 7kg | Check in Baggage: 15kg</p>
					</div>
				</div>

				
				<p class="default-size"><b>Shon Duglas</b> has left a comment for rejecting your request</p>
				<div class="text-lighter">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, repudiandae cupiditate. A ut quae, totam!</div>
				<hr>

				<!-- <p class="default-size bolder"><a href="/Goomo-CBT/account/approval-rejected/" class="primary-link">Click here</a> to get started.</p> -->


				<!-- <hr> -->

				<p class="flex-row default-size text-lighter justify-center m-t-10 m-b-20"><img src="{{"img/mobiz-bnw.png" | absURL}}" class="img-responsive"> Powered by Goomo</p>
				<p class="text-darker m-b-20">Customer support number : <a href="callto:+91-93338-93338" class="dark-link">+91-93338-93338</a></p>
				<p class="text-color m-b-5 default-size">Copyright @ 2017 Goomo Group. All rights reserved.</p>
				<p class="text-color default-size"><a href="#" class="text-color">Privacy Policy</a> | <a href="#" class="text-color">Terms &amp; Conditions</a></p>
				
			</div>

		</div>
	</div>
	<div class="col-sm-3"></div>
</div>

	
</div>

<br><br>
<br><br>
<br><br>
	
</body>
</html>
